/* ---------------- Reset CSS ---------------- */
/* http://meyerweb.com/eric/tools/css/reset/
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
    vertical-align: baseline;
    box-sizing: border-box;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

.container {
    font: 32px PingFang TC;
    margin: 0 auto;
    width: 1200px;
}

/* ---------------- Basic Setting ---------------- */

img {
    display: block;
}

.warp {
    width: 1920px;
    padding-top: 48px;
    margin: 0 auto;
}

ul {
    margin-left: 48px;
    margin-bottom: 48px;
}
li {
    position: relative;
    text-align: left;
    font: 24px PingFang TC;
    line-height: 36px;
    letter-spacing: 0px;
    color: #000000;
    opacity: 1;
}
li p {
    margin-bottom: 24px;
}

/* ---------------- 灰藍色項目符號、時間線---------------- */
li:before {
	content: "";
	position: absolute;
	width: 16px;
	height: 16px;
	background: #96A9C4;
	border-radius: 50%;
	top: 10px;
	left: -32px;
}

.timeline:after {
    content: "";
    position: absolute;
    width: 1px;
    height: 66px;
    background:#96A9C4;
    top: 18px;
    left: -24px;
}

/* ---------------- Header--------------- */
.user-name {
    text-align: left;
    font: 90px Andale Mono;
    line-height: 90px;
    letter-spacing: 0px;
    color: #000000;
    opacity: 1;
    border-bottom: 2px solid #000000;
    padding-bottom: 24px;
    margin-bottom: 48px;
}

.profile {
    width: 324px;
    height: 324px;
    margin-bottom: 48px;
}

/* ---------------- Main--------------- */
.subtitle {
    display: flex;
    align-items: center;
    text-align: left;
    line-height: 45px;
    letter-spacing: 0px;
    color: #000000;
    opacity: 1;
    padding-bottom: 8px;
    border-bottom: 1px solid #000;
    margin-bottom: 16px;
}

.en-subtitle {
    text-align: left;
    font: 24px Roboto;
    line-height: 32px;
    letter-spacing: 0px;
    color: #A00404;
    opacity: 1;
    margin-left: 16px;
}

/* ---------------- Main-灰藍底區域--------------- */
.dark-box {
    position: relative;
    background: #415165 0% 0% no-repeat padding-box;
    color: #FFFFFF;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top: 24px;
    margin-bottom: 72px;
}

.subtitle-white {
    align-items: center;
    padding-bottom: 8px;
    border-bottom: 1px solid #FFF;
    width: 83%;
    text-align: center;
    margin-bottom: 40px;
}

.en-subtitle-white {
    font: 24px Roboto;
    line-height: 32px;
}

.dark-box:after {
    content: '';
    position: absolute;
    width: 1920px;
    height: 360px;
    background-color: #96A9C4;
    z-index: -1;
    left: -360px;
    top: 67px;
}

.skill-list {
    font: lighter 24px Roboto;
    line-height: 32px;
    border-left: 1px solid #FFF;
    padding-left: 23px;
    width: 216px;
    margin-bottom: 55.5px;

}
.skill-list p {
    margin-top: 16px;
}
.skill-list p:first-child {
    margin-top: 0px;
}

/* ---------------- Main-工作經驗--------------- */
.work-list {
    border-left: 1px solid #96A9C4;
    padding-left: 24px;
    margin-left: 24px;;
}

.work-context {
    width: 642px;
    text-align: left;
    font: Lighter 20px PingFang TC;
    line-height: 30px;
    letter-spacing: 0px;
    color: #000000;
    opacity: 1;
}

.wide {
    margin-bottom: 32px;
}

.logo-hex {
    width: 89.5px;
    margin-bottom: 8px;
}

.logo-simtree {
    width: 72px;
    margin-bottom: 8px;
}

/* ---------------- Footer --------------- */
footer {
    padding-top: 24px;
    background: #415165 0% 0% no-repeat padding-box;
    color: white;
    margin-top: 72px;
}

footer .subtitle-white {
    margin-bottom: 32px;
}

footer .container {
    display: flex;
    align-items: center;
    flex-direction: column;
}

.contact-context {
    font: lighter 24px PingFang TC;
    line-height: 36px;
    text-align: center;
    margin-bottom: 16px;
}

.media-bar {
    display: flex;
    justify-content: space-between;
    width: 192px;
    margin: 0 auto;
    margin-bottom: 48px;
}